.quote-box {
  height: 250px;
  width: 500px;
  align-self: center;
  background-color: lightblue;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin: 40px 30px 20px 30px;
  text-align: center;
  font-size: 24px;
}

.author {
  text-align: right;
  font-size: 18px;
  margin-right: 20px;
}